<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>


</head>
<body id="signupPage">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Billing System</a>
    </div>
</div>
</nav>

<div class="signup_container" style="display=block">
	<h2>Create Account</h2>
	<form action="/create"  method = "post">
		<input type="text" name="name" placeholder="Item Name" required><br>
		<input type="number" name="price" placeholder="Price" required><br>
        <input type="number" name="qty" placeholder="Quantity" required><br>
        <input type="text" name="site" placeholder="Site" required><br>
        <input id="submit_sp" type="submit" name="Submit" value="Insert" ><br>
    <div class="g-recaptcha"></div>  
	</form>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>