<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='css/index.css' />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title><%= title %></title>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Billing System</a>
            </div>
        </div>
        </nav>
        <div class="jumbotron">
          <div class=container>
              <h1><%= title %></h1>
              <p>Welcome to <%= title %></p>
              <br><br>
              <div class="row"></div>
              <div class="col-md-3" >
              <p><a class="btn btn-primary btn-lg" href="/create" role="button">Create New Bill</a></p>
                
              </div>
              <div class="col-md-3"  >
              <p><a class="btn btn-primary btn-lg" href="/hrFrag" role="button">Horizontal Fragment</a></p>                
              </div>
              <div class="col-md-3" >
              <p><a class="btn btn-primary btn-lg" href="/vrFrag" role="button">Vertical Fragment</a></p>                
              </div>              
              <div class="col-md-3" >
                  <p><a class="btn btn-primary btn-lg" href="/xmlTree" role="button">XML Tree</a></p>                
                  </div>  
          </div>
    </div>
   
   
    <div class="limiter">
        <div class="container-table100">
          <div class="wrap-table100">
            
              <%  if(site3 != null && site4 !=null) { %>
            <div class="table100 ver3 m-b-110">
              <div class="table100-head">
                <table>
                  <thead>
                    <tr class="row100 head">
                      <th class="cell100 column1">Id</th>
                      <th class="cell100 column2">Name</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="table100-body js-pscroll">
                <table>
                  <tbody>
                    <% site3.forEach(function(site){  %>
                    <tr class="row100 body">
                      <td class="cell100 column1"><%=site.id%></td>
                      <td class="cell100 column2"><%=site.name%></td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                  <table>
                    <thead>
                      <tr class="row100 head">
                        <th class="cell100 column1">Id</th>
                        <th class="cell100 column2">Price</th>
                        <th class="cell100 column2">Quantity</th>
                        <th class="cell100 column2">Site</th>                        
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="table100-body js-pscroll">
                  <table>
                    <tbody>
                      <% site4.forEach(function(site){  %>
                      <tr class="row100 body">
                        <td class="cell100 column1"><%=site.id%></td>
                        <td class="cell100 column2"><%=site.price%></td>
                        <td class="cell100 column2"><%=site.qty%></td>
                        <td class="cell100 column2"><%=site.site%></td>                        
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>



            <%}%>

          <%if(site1 !=null && site2 != null ){%>
            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                  <table>
                    <thead>
                      <tr class="row100 head">
                        <th class="cell100 column1">Id</th>
                        <th class="cell100 column2">Name</th>
                        <th class="cell100 column2">Price</th>
                        <th class="cell100 column2">Quantity</th>
                        <th class="cell100 column2">Site</th>
                        
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="table100-body js-pscroll">
                  <table>
                    <tbody>
                      <% site1.forEach(function(site){  %>
                      <tr class="row100 body">
                        <td class="cell100 column1"><%=site.id%></td>
                        <td class="cell100 column2"><%=site.name%></td>
                        <td class="cell100 column2"><%=site.price%></td>
                        <td class="cell100 column2"><%=site.qty%></td>
                        <td class="cell100 column2"><%=site.site%></td>
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="table100 ver3 m-b-110">
                  <div class="table100-head">
                    <table>
                      <thead>
                        <tr class="row100 head">
                          <th class="cell100 column1">Id</th>
                          <th class="cell100 column2">Name</th>
                          <th class="cell100 column2">Price</th>
                          <th class="cell100 column2">Quantity</th>
                          <th class="cell100 column2">Site</th>
                          
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="table100-body js-pscroll">
                    <table>
                      <tbody>
                        <% site2.forEach(function(site){  %>
                        <tr class="row100 body">
                          <td class="cell100 column1"><%=site.id%></td>
                          <td class="cell100 column2"><%=site.name%></td>
                          <td class="cell100 column2"><%=site.price%></td>
                          <td class="cell100 column2"><%=site.qty%></td>
                          <td class="cell100 column2"><%=site.site%></td>
                        </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>



              
              <%}%>


          </div>
        </div>
      </div>
    



    <!-- Optional JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
	  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $('.js-pscroll').each(function(){
        var ps = new PerfectScrollbar(this);
  
        $(window).on('resize', function(){
          ps.update();
        })
      });
    </script>
    <script src="js/main.js"></script>
  </body>
</html>
